<form method="POST" action="/editAlmacen/{{almacen.id}}">
Nombre:
<input name="nombre" value="{{almacen.nombre}}">
<br>
Localidad:
<input name="localidad" value="{{almacen.localidad}}">
<br>

<input type="submit" value="Cambiar">

</form>