<br>
<div>
    <form action="/crearAlmacen" method="post">
        Nombre: 
        <input name="nombre" type="text">
        <br>
        Localidad: 
        <input name="localidad" type="text">
        <br>
        <input type="submit" value="Crear Almacen">
    </form>
</div>