{{!-- <nav class="navbar navbar-expand bg-white navbar-light">
    <div class="container">
        
    </div>
</nav> --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Almacenes Nokia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="almacenDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Almacen
          </a>
          <ul class="dropdown-menu" aria-labelledby="almacenDropdown">
            <li><a class="dropdown-item" href="/crearAlmacen">Add Almacen</a></li>
            <li><a class="dropdown-item" href="/listaAlmacenes">Listas Almacen</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="productoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="productoDropdown">
            <li><a class="dropdown-item" href="/addProducto">Add Producto</a></li>
            <li><a class="dropdown-item" href="/listaProductos">Lista de Producto</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="encargadoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Encargados
          </a>
          <ul class="dropdown-menu" aria-labelledby="encargadoDropdown">
            <li><a class="dropdown-item" href="/addEncargado">Add Encargado</a></li>
            <li><a class="dropdown-item" href="/listarEncargados">Listar Encargado</a></li>
            <li><a class="dropdown-item" href="/consultaEncargado">Consulta Encargado</a></li>

          </ul>
        </li>
      </ul>
     
    </div>
  </div>
</nav>